
<%- include('template/header',{tituloWeb:'pagina de inicio'}); %>


      <h1 class="text-primary" >pagina de inicio con ejs</h1>
      <p class="text-primary">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita magnam, a ex asperiores voluptas explicabo sapiente optio ratione numquam facilis assumenda rem molestiae quod accusantium tempora minus, dolorum reiciendis ipsa.</p>

 <%- include('template/footer',{tituloWeb:'pagina de inicio'}); %>